



.banner {
    height: 600px;
    background-image: url(../images/banner-bg.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    position: relative;
}

.banner-text {
    color: aliceblue;
    position: absolute;
    left: 5%;
    top: 50%;
    transform: translate(0,-50%);
}

.banner-text h2 {
    font-size: 50px;
    color: coral;
}

.fortune-title h2 {
    margin-top: 2em;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
}

.fortune-title p {
    margin-top: 1em;
    text-align: center;
    font-size: 20px;
}

.fortune-title hr {
    border: 1px solid brown;
    /*hrを中央揃え*/
    margin: auto;
    width: 50%;
}

.card-body p{
    font-weight: bold;
}

.list-title h2 {
    margin-top: 2em;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
}

.list-title p {
    margin-top: 1em;
    text-align: center;
    font-size: 20px;
}

.list-title hr {
    border: 1px solid brown;
    /*hrを中央揃え*/
    margin: auto;
    width: 50%;
}

.coffee-items {
    display: flex;
    align-items:stretch;
    flex-wrap: wrap;
}

.item {
    margin: auto;

}

.item img{
    width: 300px;
    height: 300px;
    border-radius: 20%;
}

.item p {
    text-align: center;
    padding: auto;
    margin-top: 1em;
    margin-bottom: 2em;
    font-family: 'Courier New', Courier, monospace;
}








